scripts=["
    create path /var/aecu-installhook(nt:unstructured)
    create path /var/aecu(sling:OrderedFolder)
    create path /conf/groovyconsole/scripts/aecu(nt:folder)
    create path /conf/global/settings/granite(nt:folder)
    create path /conf/global/settings/granite/operations(nt:folder)
    create path /conf/global/settings/granite/operations/maintenance(sling:OrderedFolder)
    create path /conf/global/settings/granite/operations/maintenance/granite_weekly(sling:OrderedFolder)

    create service user aecu-admin with path system/aecu/aecu-admin
    create service user aecu-content-migrator with path system/aecu/aecu-content-migrator
    create service user aecu-service with path system/aecu/aecu-service

    set ACL for aecu-content-migrator
        allow jcr:all on /apps,/conf,/content,/etc,/home,/var
        allow jcr:read on /
    end
    set ACL for aecu-admin
        allow jcr:all on /
    end
    set ACL for aecu-service
        allow jcr:read on /
        allow jcr:all on /var/aecu
    end
"]