scripts=["
    create path /var/groovyconsole/scripts/aecu(nt:folder)

	## TODO: index?
    create service user aecu-admin with path system/aecu/aecu-admin
    create service user aecu-content-migrator with path system/aecu/aecu-content-migrator
    create service user aecu-service with path system/aecu/aecu-admin

   
    set principal ACL for aecu-content-migrator
        allow jcr:all on /apps,/conf,/content,/etc,/home,/var
        allow jcr:read on /
    end
    
    set principal ACL for aecu-admin
        allow jcr:all on /
    end
    
    set principal ACL for aecu-service
        allow jcr:read on /
        allow jcr:all on /var/aecu
    end
"]