<template data-sly-template.details="${ @ result, isFallback=false}">
	<table class="aecu-history-detail" width="100%">
	  <tr>
      <td>Path: ${result.path}</td>
	    <td rowspan="2">
	     <coral-icon icon="${result.success ? 'checkCircle' : 'closeCircle'}" size="L" class="icon-color-${result.success ? 'ok' : 'fail'}" >
	     </coral-icon>
	    </td>
    </tr>
    <tr>
      <td>Execution time: ${result.time}</td>
	  </tr>
	</table>
	<sly data-sly-test="${result.result}">
  <h3 data-sly-test="${!isFallback}">Result</h3>
  <h4 data-sly-test="${isFallback}">Result</h4>
	${result.result}
	</sly>
  <sly data-sly-test="${result.output}">
  <h3 data-sly-test="${!isFallback}">Output</h3>
  <h4 data-sly-test="${isFallback}">Output</h4>
  ${result.output}
  </sly>
  
  <sly data-sly-test="${result.fallbackResult}">
    <h3>Fallback script result</h3>
    <sly data-sly-call="${details @ result = result.fallbackResult, isFallback = true}" />
  </sly>
</template>